*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
/.idea/
.idea
/repository/com/common/Common/1.0.5-beta1
/JPushExample/product_1
/app/product_1
/app/app/product_1
/repository
/app/.cxx
/reference/DecompileApk/2019_12_18/dex2jar-2.0
/app/hot_fix/output.dex
/app/hot_fix/classes
/reference/keystore.jks
/reference/keyStoreDir/
