<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.util">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.common.AppApplication"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScrollerHSVTestActivity"/>
        <activity android:name=".RVGridTestActivity"/>
        <activity android:name=".CustomLayoutManagerTestActivity"/>
        <activity android:name=".HRVTestActivity"/>
        <activity android:name=".ForegroundDrawingTestActivity"/>
        <activity android:name=".RefreshRvTestActivity"/>
        <activity android:name=".ConstraintLayoutTestActivity"/>
        <activity android:name=".XposedTestActivity"/>
    </application>

</manifest>