<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.util">

    <application
        android:name=".App"
        tools:replace="android:name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="我就是个简单的Xposed Demo" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".custom_view.CustomViewTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".XposedTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".BuglyTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".sys_notice.JetpackTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".web_agent.AgentWebActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".network.HttpTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".JRTTTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".QRCodeTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".x5web.X5WebTestActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":web"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".sys_notice.NotificationMonitor"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>